body {
    font-family: monospace;
}
ul {
    font-family: helvética;
}

li {
    list-style: circle;
}

.list {list-style: square;}

#msg {
    font-family: monspace;
}

.light-theme {
    color:black;
    background: #070317;
}

.dark-theme {
    --bg: var(--green);
    --fontColor: var(--green);
}
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}