body {
    font-family: monospace;
}
ul {
    font-family: helvética;
}

li {
    list-style: circle;
}

.list {list-style: square;}

/* #msg {
    font-family: monspace;
}
*/
.light-theme {
    color:rgb(46, 18, 68);
    background: #e6f3f3;
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}